@tailwind base;
@tailwind components;
@tailwind utilities;

.ativo{
    border-bottom: 3px solid red;
    color: red;
}


@layer utilities {
    .text-truncate-2-line {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }



  .anima{
    animation: anima .3s ease-in-out;
  }


  @keyframes anima {
    from{
      transform: translate3d(0,-70px,0);
    } to{
      transform: translate3d(0,0,0);
    }
  }



  /* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Estilizando o botão de rolagem */
::-webkit-scrollbar-thumb {
  background-color: white; /* Cor da barra de rolagem */
}

/* Estilizando a trilha da rolagem */
::-webkit-scrollbar-track {
  background: transparent; /* Cor de fundo da trilha da rolagem */
}

/* Estilizando os cantos da barra de rolagem */
::-webkit-scrollbar-corner {
  background: transparent; /* Cor de fundo dos cantos da barra de rolagem */
}